.p-article__decoration {
    text-align: right;
}

.p-article__foryourself {
    text-align: right;
}

@media(min-width: 1280px) {
    .p-articleWrapper__works {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 80%;
        margin: 0 auto;
        article {
            width: 40%;
        }
        .p-article__works {
            margin-right: 12rem;
            margin-top: 7rem;
        }
        .p-article__decoration {
            margin-top: 20rem;
        }
        .p-article__wedding {
            margin-top: -38rem;
            margin-right: 12rem;
        }
    }
    .p-articleWrapper__florist {
        display: flex;
        justify-content: space-around;
        width: 100rem;
        margin: 0 auto;
        .p-article__florist {
            width: 30.5rem;
        }
    }
}