.p-article__decoration {
    text-align: right;
}

.p-article__foryourself {
    text-align: right;
}

@media(min-width: 1280px) {
    .p-articleWrapper__works {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        article {
            width: 50%;
        }
    }
}