.p-main__container {
    max-width: 128rem;
    padding: 0 3.1rem;
}

@media(min-width: 1280px) {
    .p-main__container {
        padding: 0;
        margin: 0 auto;
    }
    .p-container__shopInformation {
        display: flex;
        width: 95rem;
        margin: 0 auto;
        height: 33rem;
    }
}

@media(min-width: 1600px) {
    .p-main__container {
        width: 100%;
        max-width: 150rem;
        margin: 0 auto;
    }
}