// モーダル表示時に背景固定
.fixed {
    position: fixed;
    left: 0;
    right: 0;
}

// ここまで 
.content {
    margin: 0 auto;
    padding: 40px;
}

.modal {
    display: none;
    height: 100vh;
    top: 0;
    width: 100%;
    position: fixed;
}

.md-open {
    display: block;
}

.modal__bg {
    background: rgba(0, 0, 0, 0.7);
    height: 100vh;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.modal__content {
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    .p-modal__text ul li {
        margin-bottom: 3rem;
    }
    a {
        color: #ffffff;
        text-decoration: none;
        font-size: 3rem;
    }
}

// お問い合わせフォーム 
.contactModal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.contactModal__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.contactModal__content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}