            .p-section__concept {
                text-align: center;
            }
            
            .p-section__florist {
                margin-top: 27rem;
            }
            
            .p-section__contact {
                background-image: url(../../assets/img/contact.jpg );
                background-color: rgba(255, 255, 255, 0.6);
                background-blend-mode: lighten;
                height: 73.5rem;
                text-align: center;
            }