.p-ul__access {
    margin-top: 4rem;
}

@media(min-width: 1280px) {
    .p-ul__access {
        margin-left: 4rem;
        height: 21.2rem;
        width: 100%;
    }
    .p-PCpage-link ul {
        display: flex;
        margin: 5rem;
        li {
            list-style: none;
            a {
                color: white;
                text-decoration: none;
                font-size: 4rem;
                margin-left: 3rem;
                &:hover {
                    color: black;
                }
            }
        }
    }
}