            // vh自動計算式
            $viewport1600: 1600; // 基準となるビューポート1600px時
            $viewport1280: 1280; // 基準となるビューポート1280px時
            $viewport750: 750; // 基準となるビューポート750px時
            @function pxtovw1600($num, $width: $viewport1600) {
                @return (1vw * $num / $width * 100);
            }
            
            @function pxtovw1280($num, $width: $viewport1280) {
                @return (1vw * $num / $width * 100);
            }
            
            @function pxtovw750($num, $width: $viewport750) {
                @return (1vw * $num / $width * 100);
            }
            
            @media(min-width: 750px) {
                .l-hero {
                    height: pxtovw750(710);
                }
                .c-image__heroLogo {
                    width: pxtovw750(317);
                    height: pxtovw750(129);
                    margin-top: pxtovw750(225);
                }
                .c-p__heroText {
                    font-size: pxtovw750(24);
                    letter-spacing: pxtovw750(0.96);
                    margin-top: pxtovw750(50);
                }
            }
            
            @media(max-width:749px) {
                .c-button__contact {
                    width: pxtovw750(570);
                    font-size: pxtovw750(35);
                    height: pxtovw750(130);
                    margin-top: pxtovw750(40);
                }
            }
            
            @media(min-width: 1280px) {
                .l-hero {
                    height: pxtovw1280(620);
                }
                .c-image__heroLogo {
                    width: pxtovw1280(317);
                    height: pxtovw1280(129);
                    margin-top: pxtovw1280(225);
                }
                p {
                    font-size: pxtovw1280(16);
                    letter-spacing: pxtovw1280(1.28);
                }
                .c-p__heroText {
                    font-size: pxtovw1280(22);
                    letter-spacing: pxtovw1280(0.88);
                    margin-top: pxtovw1280(50);
                }
                .p-section__contact {
                    height: pxtovw1280(420);
                }
                h1 {
                    font-size: pxtovw1280(40);
                    margin-bottom: pxtovw1280(60);
                }
                h1:before {
                    bottom: pxtovw1280(-33);
                    /*線の上下位置*/
                }
                .c-p__conceptText {
                    width: pxtovw1280(611);
                }
                .c-image__concept {
                    margin-top: pxtovw1280(70);
                    height: pxtovw1280(415);
                    width: pxtovw1280(1000);
                    max-width: 128rem;
                    max-height: 53.5rem;
                }
                .c-background__color {
                    height: pxtovw1280(210);
                    top: pxtovw1280(570);
                }
                .p-articleWrapper__works {
                    width: pxtovw1280(1024);
                    max-width: 128rem;
                    margin: 0 auto;
                }
                .c-p__worksText {
                    width: pxtovw1280(488);
                }
                .p-article__works {
                    margin-right: pxtovw1280(120);
                    margin-top: pxtovw1280(70);
                    width: pxtovw1280(418);
                }
                .p-container__shopInformation {
                    width: pxtovw1280(950);
                    margin: 0 auto;
                    height: pxtovw1280(330);
                }
                .c-image__pcinformation {
                    height: pxtovw1280(330);
                }
                h3 {
                    font-size: pxtovw1280(16);
                    width: pxtovw1280(100);
                }
                .l-footer {
                    height: pxtovw1280(100);
                }
                .c-small__footer {
                    font-size: pxtovw1280(16);
                    line-height: pxtovw1280(100);
                }
                .c-button__contact {
                    width: pxtovw1280(352);
                    height: pxtovw1280(82);
                    font-size: pxtovw1280(24);
                    margin-top: pxtovw1280(45);
                    letter-spacing: pxtovw1280(1.92);
                    &:active {
                        width: pxtovw1280(330);
                        height: pxtovw1280(78);
                        font-size: pxtovw1280(22);
                    }
                }
                .far {
                    margin-right: pxtovw1280(20);
                }
                .pagetop a {
                    width: pxtovw1280(50);
                    height: pxtovw1280(50);
                }
                .pagetop a i {
                    font-size: pxtovw1280(20);
                    line-height: pxtovw1280(50);
                }
            }
            
            @media (min-width: 1280px) and (max-width: 1600px) {
                h2 {
                    font-size: calc(46px + ((1vw - 12.8px)*4.375));
                }
                .c-background__colorTwo {
                    height: 60rem;
                    top: 295rem;
                }
            }
            
            @media(min-width:1600px) {
                h2 {
                    font-size: 6rem;
                }
                p {
                    font-size: 3rem;
                }
                .c-background__color {
                    top: 83rem;
                }
                .p-container__shopInformation {
                    width: 100%;
                    height: 41.8rem;
                }
                .c-image__pcinformation {
                    width: 63.3rem;
                    height: 41.8rem;
                }
                .c-p__accessText {
                    font-size: 2.5rem;
                }
                h3 {
                    font-size: 2rem;
                    width: 14rem;
                }
                .c-background__colorTwo {
                    height: pxtovw1600(600);
                }
            }