            .l-footer {
                background-color: rgb(243, 243, 243);
                height: 14.5rem;
                text-align: center;
            }
            
            @media(min-width: 1280px) {
                .l-footer {
                    height: 10rem;
                }
            }