.l-header {
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 1;
}

.l-header2 {
    position: absolute;
    background-color: #a9a9a9;
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 2;
    display: none;
}