.l-header {
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 999;
    top: 0;
    transition: .9s;
    display: flex;
    justify-content: space-between;
}

.active {
    background-color: rgb(145, 197, 175);
}

.l-header.hide {
    transform: translateY(-100%);
}