    .l-hero {
        background: url("../../assets/img/top.jpg");
        width: 100%;
        height: auto;
        min-height: 71rem;
        background-size: cover;
        text-align: center;
    }
    
    @media(min-width: 1280px) {
        .l-hero {
            min-height: 61rem;
        }
    }