    .form-text {
        text-align: center;
        font-size: 2rem;
        margin-top: 2rem;
    }
    
    textarea,
    select,
    input {
        display: block;
        margin: 0 auto;
        width: 50rem;
        height: 5rem;
        font-size: 2rem;
    }
    
    .form-btn {
        margin-top: 2rem;
    }
    
    .js-contactModal-close {
        display: block;
        text-align: right;
        font-size: 2rem;
    }