            .c-image__headerLogo {
                width: 13.2rem;
                height: 5rem;
                margin: 4.2rem 3rem;
            }
            
            .c-image__heroLogo {
                width: 31.7rem;
                height: 12.9rem;
                margin: 22.5rem 21.5rem 0;
            }
            
            img {
                width: 20rem;
            }