.c-p__heroText {
    color: #ffffff;
    letter-spacing: 0.96px;
    margin-top: 5rem;
    display: block;
    text-align: center;
}

.c-p__floristTitletext {
    display: block;
    text-align: center;
    margin-bottom: 8rem;
}

.c-p__floristText {
    width: 100%;
}