.c-h1__Works {
    margin-top: 22.3rem;
}

.c-h2__decoration {
    display: inline-block;
    margin-right: 31.5rem;
}

.c-h2__foryourself {
    display: inline-block;
    margin-right: 28.5rem;
}

.c-title__information {
    margin-top: 20.8rem;
}

.c-title__contact {
    margin-top: 8.5rem;
    padding-top: 15rem;
}

@media(min-width: 1280px) {
    .c-h1__concept {
        margin-top: 12rem;
    }
    .c-h1__Works {
        margin-top: 12rem;
        margin-bottom: 10rem;
    }
    .c-h2__foryourself {
        margin-right: 0;
        display: block;
        text-align: left;
    }
}