.c-h1__Works {
    margin-top: 22.3rem;
}

.c-h2__decoration {
    display: inline-block;
    margin-right: 31.5rem;
}

.c-h2__foryourself {
    display: inline-block;
    margin-right: 28.5rem;
}

.c-title__information {
    margin-top: 20.8rem;
}

.c-title__contact {
    margin-top: 8.5rem;
    padding-top: 15rem;
}