.content-body {
    .display-contact-wrapper {
        background: #000;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100vh;
        align-items: center;
        .display-contact {
            background-color: white;
            width: 50%;
            height: 50%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .form-item {
                font-size: 3rem;
                text-decoration: none;
                a {
                    color: #000;
                    &:hover {
                        color: red;
                    }
                }
            }
        }
    }
}